header {
  height: var(--header-height);
  background-color: var(--color-background-header);
}

.logo-wrapper {
  max-width: 80px;
  max-height: 30px;
}

.icon {
  background-color: var(--color-primary-white) !important;
}
