<header class="flex items-center justify-between">
  <div class="flex items-center">
    <div class="block lg:hidden">
      <span icon="menu" size="24px" class="icon mx-4" role="button" (click)="openSidebar()"></span>
    </div>

    <div class="logo-wrapper mx-4">
      <img
        src="assets/images/logo-st-dark.svg"
        alt="SAGE TRADER"
        class="h-full w-auto object-contain"
      />
    </div>
  </div>
  <button type="button" class="button-secondary mx-4" (click)="toggleData()">
    {{ $hasData() ? 'Hide Data' : 'Show Data' }}
  </button>
</header>
