.circle-name {
  width: 32px;
  height: 32px;
  background: var(--color-blue-600);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  border-radius: 20px;
}

.account-label,
.account-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--color-grey-900);
}
