.cards-wrapper {
  min-height: 150px;
  background: var(--color-grey-51);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  border-radius: 16px;
}

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 12px;

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: var(--color-grey-600);
  }

  span {
    background: var(--color-grey-600) !important;
  }
}
