main {
  background-color: var(--color-background-body);
}

.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.sidebar-container {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  height: calc(100vh - var(--header-height));
  z-index: 50;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.sidebar-container.sidebar-open {
  transform: translateX(0);
}

@media (min-width: var(--breakpoint-tablet)) {
  .sidebar-container {
    position: static;
    transform: translateX(0);
    display: block;
    z-index: auto;
    height: auto;
    overflow-y: visible;
  }
}
