main {
  background-color: var(--color-background-body);
}

.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.sidebar-container {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  width: var(--sidebar-width-mobile);
  z-index: 50;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  &.sidebar-open {
    transform: translateX(0);
  }

  @media (min-width: 640px) {
    width: var(--sidebar-width);
  }

  @media (min-width: 1024px) {
    position: static;
    transform: translateX(0);
    z-index: auto;
  }
}
