nav {
  background-color: var(--color-grey-100);
  width: var(--sidebar-width);

  @media (max-width: 639px) {
    width: var(--sidebar-width-mobile);
  }
}

a {
  width: 56px;
  height: 32px;
  border-radius: 28px;
  margin-bottom: 4px;
  transition: background-color 0.2s ease;
}

li {
  font-size: 12px;
  font-weight: 500;

  &.active,
  &:hover {
    font-weight: 600;
    color: var(--color-purple-600);

    a {
      background-color: var(--color-blue-100);
    }

    .icon {
      background-color: var(--color-purple-600) !important;
    }
  }
}
