.account-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  padding: 14px;
  background: var(--color-primary-purple-middle);
}
