<div class="wrapper">
  <button type="button" [class.active]="isAllActive()" (click)="onAllClick()">
    @if (isAllActive()) {
      <span icon="check" size="18px"></span>
    }
    <span>All</span>
  </button>

  @for (option of $options(); track option) {
    @let isActive = !isAllActive() && activeValues().includes(option);
    <button type="button" [class.active]="isActive" (click)="onOptionToggle(option)">
      @if (isActive) {
        <span icon="check" size="18px"></span>
      }
      <span>{{ option }}</span>
    </button>
  }
</div>
