.button-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--color-primary-blue);
  cursor: pointer;
  padding: 6px 12px;
}

.button-secondary {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--color-secondary-grey);
  background: var(--color-primary-purple-light);
}

.card-rounded {
  border-radius: 24px;
  border: 0.5px solid var(--color-border-grey-2);
  background: var(--color-primary-white);
}

.chip {
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;

  &--pending {
    background: var(--color-background-table);
    color: var(--color-secondary-grey);
    border: 1px solid var(--color-border-grey-2);
  }

  &--completed {
    background: var(--color-success-bg--green);
    color: var(--color-success-text-green);
  }

  &--rejected {
    background: var(--color-reject-bg-red);
    color: var(--color-reject-text-red);
  }
}
