.button-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--color-blue-600);
  cursor: pointer;
  padding: 6px 12px;
}

.button-secondary {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--color-grey-600);
  background: var(--color-purple-50);
}

.card-rounded {
  border-radius: 24px;
  border: 0.5px solid var(--color-grey-301);
  background: var(--color-white);
}

.chip {
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;

  &--pending {
    background: var(--color-grey-51);
    color: var(--color-grey-600);
    border: 1px solid var(--color-grey-301);
  }

  &--completed {
    background: var(--color-green-100);
    color: var(--color-green-800);
  }

  &--rejected {
    background: var(--color-red-100);
    color: var(--color-red-800);
  }
}

@media (max-width: 639px) {
  .button-link {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 10px;
  }

  .button-secondary {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 10px;
    border-radius: 6px;
  }

  .card-rounded {
    border-radius: 16px;
  }

  .chip {
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px;
  }
}
