h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 24px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: var(--color-grey-600);
}

@media (max-width: 639px) {
  h1 {
    font-size: 20px;
    line-height: 28px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 14px;
    line-height: 20px;
  }

  h4 {
    font-size: 12px;
    line-height: 18px;
  }

  p {
    font-size: 11px;
    line-height: 18px;
  }
}
