:root {
  --color-grey-900: #1b1b21;
  --color-grey-600: #45464f;
  --color-grey-500: #767680;
  --color-grey-300: #d1d5dc;
  --color-grey-301: #c6c5d0;
  --color-grey-100: #f3f4f6;
  --color-grey-50: #f9fafb;
  --color-grey-51: #f5f5f7;

  --color-purple-600: #374379;
  --color-purple-100: #e9e7ef;
  --color-purple-50: #f5f2fa;

  --color-blue-600: #1c40be;
  --color-blue-100: #dde1ff;
  --color-blue-50: #1c40be1a;

  --color-cyan-700: #004d67;
  --color-cyan-100: #c2e8ff;

  --color-navy-900: #1b243d;

  --color-green-800: #2b4f1e;
  --color-green-100: #c2efad;

  --color-red-800: #93000a;
  --color-red-100: #ffdad6;

  --color-white: #ffffff;

  /* SIZES */
  --sidebar-width: 112px;
  --sidebar-width-mobile: 90px;
  --header-height: 48px;
}
