:root {
  --color-primary-dark: #1b1b21;
  --color-primary-purple: #374379;
  --color-primary-purple-middle: #e9e7ef;
  --color-primary-purple-light: #f5f2fa;
  --color-primary-blue: #1c40be;
  --color-primary-blue-light: #1c40be1a;
  --color-primary-light: #dde1ff;
  --color-primary-white: #ffffff;

  --color-secondary-grey: #45464f;
  --color-secondary-blue: #c2e8ff;
  --color-secondary-blue-text: #004d67;

  --color-background-body: #f9fafb;
  --color-background-header: #1b243d;
  --color-background-sidebar: #f3f4f6;
  --color-background-table: #f5f5f7;

  --color-border-grey-1: #d1d5dc;
  --color-border-grey-2: #c6c5d0;
  --color-border-grey-3: #767680;

  --color-success-bg--green: #c2efad;
  --color-reject-bg-red: #ffdad6;
  --color-success-text-green: #2b4f1e;
  --color-reject-text-red: #93000a;

  /* SIZES */
  --sidebar-width: 112px;
  --header-height: 48px;
}
