<h2>Account Balance</h2>

<section class="card-rounded px-2 sm:px-4 py-3 sm:py-6 chart-wrapper">
  <div class="flex justify-between items-center mb-4">
    <h3>Cash Available to Trade</h3>
    <button type="button" class="button-secondary">Last 90 days</button>
  </div>
  <app-chart [data]="$chartData()" [labels]="$chartLabels()" />
</section>

<h2>Connected Accounts</h2>

<section>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <app-account-type
      title="Wire Accounts"
      description="Add a bank account for wire deposits and withdrawals."
      buttonText="+ Add New Wire Account"
      icon="bank"
    >
      <ul class="mt-4 space-y-2">
        @for (account of $wireAccounts(); track account.maskedAccount) {
          <li>
            <app-account-item [label]="account.bankName" [number]="account.maskedAccount" />
          </li>
        }
      </ul>
    </app-account-type>

    <app-account-type
      title="Plaid Accounts (ACH)"
      description="Connect a bank account via Plaid for ACH transfers."
      buttonText="+ Connect New via Plaid"
      icon="plaid"
    >
      <ul class="mt-4 space-y-2">
        @for (account of $plaidAccounts(); track account.maskedAccount) {
          <li>
            <app-account-item [label]="account.bankName" [number]="account.maskedAccount" />
          </li>
        }
      </ul>
    </app-account-type>
  </div>
</section>

<h2>Recent Transfers</h2>

<section class="card-rounded p-2 sm:p-4">
  <div
    class="flex flex-col-reverse gap-4 sm:flex-row justify-between items-end sm:items-center mb-6"
  >
    <app-table-filter [options]="filterOptions" [formControl]="transfersFilterControl" />
    <button type="button" class="button-secondary">Last 7 days</button>
  </div>
  <app-table-cards [data]="$filteredTransfers()" [columns]="chartColumns" class="block md:hidden" />
  <app-table [data]="$filteredTransfers()" [columns]="chartColumns" class="hidden md:block" />
</section>
